<br><br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>{{main.categoryPage.category}}</h2>
      <hr class="star-primary">
    </div>
  </div>

  <div class="row">
    <div ng-repeat="item in main.categoryPage.items" class="col-sm-6">
      <a href="#/item">
        <div class="panel panel-default" ng-click="main.categoryPage.openItem(item)">
          <div class="panel-heading text-center">
            {{item.title}}
          </div>
          <div class="panel-body">
            <div class="row text-center">
              <div class="image-container">
                <img ng-src={{item.pictures[0]}} />
                <div class="row text-center">
                  <h3>${{item.price}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
