<div class="container">
  <br><br><br><br>
  <div class="row">
    <div ng-repeat="item in main.categoryPage.items" class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href="/" ng-click="main.categoryPage.openItem(item._id)">
            {{item.title}}
          </a>
        </div>
        <div class="panel-body">
          <div class="row text-center">
            <a href="/#/item">
              <img src="http://vignette2.wikia.nocookie.net/drunken-peasants-podcast/images/0/09/TheTimeIsCena.jpg/revision/latest?cb=20150309003243">
            </a>
          </div>
          <div class="row text-center">
              <h3>Price: {{item.price}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
