<div class="container">
  <br><br><br><br>
  <div class="row">
    <div ng-repeat="item in main.categoryPage.items" class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href="/#/item" ng-click="main.categoryPage.openItem(item._id)">
            {{item.title}}
          </a>
        </div>
        <div class="panel-body">
          <div class="row text-center">
            <a href="/#/item"  ng-click="main.categoryPage.openItem(item._id)">
              <img ng-src={{item.pictures[0]}} err-src="http://s3.amazonaws.com/images.charitybuzz.com/images/183228/original.png?1438018411">
            </a>
          </div>
          <div class="row text-center">
              <h3>Price: {{item.price}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
