<div class="container">
  <br><br>
  <div class="row">
    <div class="page-header">
      <h1>Create a Listing</h1>
    </div>
    <form>
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" ng-model="main.createPage.object.title" class="form-control" id="inputTitle" placeholder="What are you selling?">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Category</label>
        <div class="dropdown" ng-model="main.createPage.object.category">
            <select class="form-control" ng-model="main.createPage.object.category" aria-labelledby="dropdownMenu1">
            <option value="books"><a href="">Books</a></option>
            <option value="tickets"><a href='#'>Tickets</a></option>
            <option value="lost"><a href="#">Lost and Found</a></option>
            <option value="electronics"><a href="#">Electronics</a></option>
            <option value="auto"><a href="#">Automobiles</a></option>
            <option value="housing"><a href="#">Housing</a></option>
            <option value="misc"><a href="#">Miscellaneous</a></option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <textarea ng-model="main.createPage.object.description" class="form-control" rows="5" placeholder="Tell us a bit about your item"></textarea>
      </div>


      <div class="form-group">
        <label for="inputTitle">Price</label>
        <input type="number" min="0.00" step= "0.01" style="width:150px" ng-model="main.createPage.object.price" class="form-control" id="inputTitle" placeholder="$">
      </div>

      <button type="submit" ng-click="main.createPage.create(main.createPage.object)" class="btn btn-default">Submit</button>

</form>
  </div>
</div>
