<div class="container">
  <br><br><br><br><br><br>

    <div ng-repeat="category in main.homePage.categories" class="col-sm-offset-1 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href="/#/category" ng-click="main.homePage.openCategory(category.query)">
            <h3 class="panel-title">{{category.name}}</h3>
          </a>
        </div>

        <div class="panel-body">
          <a href="#" class="thumbnail">
            <table style = "width:100%">
              <tr>
                <td>
                    <img src="http://images4.fanpop.com/image/photos/18400000/john-cena-john-cena-18461375-331-388.jpg" alt="..."style="width:auto; height:100px">
                </td>
                <td>
                    Title:
                    <br><br><br><br>
                    Price:
                </td>
              </table>
            </a>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
