<div class="container">
  <br><br><br><br><br><br>
  <div class="row">
    <div ng-repeat="category in main.homePage.categories" class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href="/#/category" ng-click="main.homePage.openCategory(category.query)">
            <h3 class="panel-title">{{category.name}}</h3>
          </a>
        </div>

        <div class="panel-body">
          <img src="{{category.picture}}" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
