<div ng-controller="homeController as home" class="container">
  <br><br><br><br>
  <div class="row">
    <div ng-repeat="category in home.categories" class="col-sm-offset-1 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <a href="#" ng-click="home.openCategory(category.query)">
            {{category.name}}
          </a>
        </div>
        <div class="panel-body">
          <div class="col-sm-5">
            <a href="#" class="thumbnail">
              <img src="http://images4.fanpop.com/image/photos/18400000/john-cena-john-cena-18461375-331-388.jpg" alt="...">
            </a>
          </div>
          <div class="col-sm-7">
            Hello this an excellent picture of the world famous John Cena in a spit-swapping make-out match.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
